*{
    background-image: url("gradient-defocused-abstract.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.main{
    background-image: url("to-do-list.webp");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    height: 70vh;
}
.inside1{
    background-image: none;
    padding: 5px;
    margin: 20px;
    margin-left: 550px;
}
.inside2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: none;
}
input{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: none;
    background-color: darkgray;
    text-align: left;
}
button{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: none;
    background-color: crimson;
    cursor: pointer;
    margin: 10px;
}
#list{
    background-image: none;
}
ul li{
   list-style-type: circle;
    text-align: left;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    background-image: none;
}
ul li cross{
    top: 5px;
    width: 50px;
    height: 50px;
    line-height: 25px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 30%;
}
ul li cross:hover{
    background-color: rgb(206, 201, 201);
}